<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MalodyBeatmapSpeedChanger"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebViewActivity"
            android:exported="true">
        </activity>

        <activity android:name=".ImportActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.msz" />
                <data android:pathPattern=".*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\.mcz" />
                <data android:pathPattern=".*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\.osz" />
                <data android:pathPattern=".*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.osz" />
            </intent-filter>
        </activity>

    </application>

</manifest>