<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 纯本地 App：无需任何运行时权限，使用 SAF 读写文件 -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MalodyBeatmapSpeedChanger"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 从文件管理器“打开方式”进入 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.msz" />
                <data android:pathPattern=".*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\.mcz" />
                <data android:pathPattern=".*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\.osz" />
                <data android:pathPattern=".*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\.imd" />
                <data android:pathPattern=".*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.imd" />
            </intent-filter>
        </activity>

        <!-- 分享生成结果时提供 content:// Uri -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
