<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 纯本地 App：读写默认走 SAF，无需权限；如需直接保存到 /MalodyBSC 目录 -->
    <!-- 则在 Android 11+ 需要“所有文件访问权限”，Android 10 及以下需要写存储权限 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MalodyBeatmapSpeedChanger"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 从文件管理器“打开方式”进入 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.msz" />
                <data android:pathPattern=".*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.msz" />
                <data android:pathPattern=".*\\.mcz" />
                <data android:pathPattern=".*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mcz" />
                <data android:pathPattern=".*\\.osz" />
                <data android:pathPattern=".*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.osz" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\.imd" />
                <data android:pathPattern=".*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.imd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.imd" />
            </intent-filter>
        </activity>

    </application>

</manifest>
